@import "./Variables";
@import "../src/Styles/Header.scss";
@import "../src/Styles/Footer.scss";
@import "../src/Styles/Form.scss";
@import "../src/Styles/Home.scss";
@import "../src/Styles/Breed.scss";
@import "../src/Styles/Organizations.scss";

@font-face {
  font-family: "Lato";
  src: url("/Fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/Fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Italic";
  src: url("/Fonts/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  src: url("/Fonts/Cabin-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin-Italic";
  src: url("/Fonts/Cabin-Italic.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin";
}

body {
  font-family: "Lato-Regular";
  background-color: $background;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

/* Internal Banner */
.internal-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
  text-align: center;
  min-height: 30vh;


  .banner-title {
    font-size: 4.25rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;

    @media (max-width: 720px) {
       font-size: 2rem;
    }
  }
}


/* Grid layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
